*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2022/04/21/06/11/waves-7146711_1280.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #63c7b2
}

header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding: 0 2rem;
    background-color: rgba(20,20,20,1);
    backdrop-filter: blur(15px);
    z-index: 1000;
}

.navbar {
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {

    font-size: 1.5rem;
    font-weight: bold;
    
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .burger-menu-button {
    color:#fff;
    font-size: 1.5rem;
    cursor: pointer;
    /*ici*/
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px
}

.action-button {
    background-color: #63c7b2;
    color: #120d31;
    border: 1px solid #63c7b2;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.action-button:hover {
    color:#fff;
    border: 1px solid #fff;

}

.pro {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;

}

.pro:hover {
    background-color: #fff;
    color: #120d31
}

/*---------burger menu-------*/

.burger-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    padding-bottom: 20px;
    width: 200px;
    background-color: rgba(0, 0, 0,0.7);
    backdrop-filter: blur(15px);
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
}

.burger-menu.open {
    height: 320px;

}

.burger-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 1px;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

}


.burger-menu .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.buttons-burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/*----------Responsive-----------*/

@media(max-width: 990px){
    header {
	display: flex;
	flex: 1;
        background-color: rgba(20,20,20,1);
    }
    .navbar .links,
    .navbar .action-button {
        display: none;
    }

    .navbar .burger-menu-button {
        display:inline-block;
    }

    .burger-menu {
        display: inline-block;
    }
}




